<div class="stepsdemo-content">

    <p-card>

        <ng-template pTemplate="title">
            Criação da Marca / Patente
        </ng-template>

        <ng-template pTemplate="subtitle">
            Preencha as informações exigidas
        </ng-template>

        <ng-template pTemplate="content">
            <div class="p-fluid" class="field">
                <label for="firstname">Nome</label>
                <input style="width: 100%" #firstname="ngModel" id="firstname" type="text" required pInputText [(ngModel)]="personalInformation.firstname" [ngClass]="{'ng-dirty': (firstname.invalid && submitted) || (firstname.dirty && firstname.invalid)}"> 
                <small *ngIf="(firstname.invalid && submitted) || (firstname.dirty && firstname.invalid)" class="p-error">Firstname is required.</small>
            </div>
        </ng-template>

        <ng-template pTemplate="content">

            <div class="p-fluid" class="field">
                <label for="firstname">Nome</label>
                <input style="width: 100%" #firstname="ngModel" id="firstname" type="text" required pInputText [(ngModel)]="personalInformation.firstname" [ngClass]="{'ng-dirty': (firstname.invalid && submitted) || (firstname.dirty && firstname.invalid)}"> 
                <small *ngIf="(firstname.invalid && submitted) || (firstname.dirty && firstname.invalid)" class="p-error">Firstname is required.</small>
            </div>

            <div class="field">
                <label for="lastname">Lastname</label>
                <input style="width: 100%"  #lastname="ngModel" id="lastname" type="text" required pInputText [(ngModel)]="personalInformation.lastname" [ngClass]="{'ng-dirty': (lastname.invalid && submitted) || (lastname.dirty && lastname.invalid)}"> 
                <small class="p-error" *ngIf="(lastname.invalid && submitted )|| (lastname.dirty && lastname.invalid)">Lastname is required.</small>
            </div>

            <div class="grid grid-nogutter justify-content-end" >
                <p-button (onClick)="nextPage()" class="p-button-info" label="Next" ><i class="pi pi-angle-right"></i></p-button>
            </div>
        </ng-template>


    </p-card>
</div>